fastapi
uvicorn
pydantic
python-multipart
python-dotenv
groq
google-generativeai
requests
fpdf2
python-docx
Pillow
asyncio
requests
beautifulsoup4
spacy
nltk
transformers
torch
sentence-transformers
textstat
matplotlib
plotly
pandas
numpy
opencv-python
pexels-api-py
python-dotenv
aiofiles
asyncpg
schedule
wordcloud
python-docx
seaborn
scikit-learn
